---
import { menu } from '../components/Header.astro';
import InputElement from '../components/InputElement.astro';
import  InputSection  from "../components/InputSection.astro";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<ul>
        {
            menu.map((item)=>(
                <li class="px-2 ">
                    <a href={item.link}>{item.name}</a>
                </li>
            ))
        }
    </ul>
    <InputSection title="Valor UF:" description='Este es el valor de la UF actualmente' icon="$" >
        <InputElement type="date" />
    </InputSection>
</Layout>
