---
import { menu } from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<ul>
        {
            menu.map((item)=>(
                <li class="px-2 ">
                    <a href={item.link}>{item.name}</a>
                </li>
            ))
        }
    </ul>
</Layout>
