---
import Layout from "../layouts/Layout.astro";
import Working from "../components/icons/Working.astro";
---

<Layout title="Welcome to Astro.">
  <div class="grid justify-center mt-4">
    <div class="flex max-w-4xl">
      <div class="relative w-1/2">
        <h1 class="absolute text-2xl my-3">Calculadora Procesos Rotación</h1>
        <Working class="w-full" />
      </div>

      <div class="flex w-1/2">
        <p class="flex items-center text-pretty">
          Esta herramienta permite calcular prorrateos de servicios básicos,
          gastos comunes y solicitudes de reembolso. También puedes calcular los
          montos de cupones de arriendo y gastos comunes para cargas parciales,
          así como los montos de agua caliente vinculados a la UF. Además,
          facilita el cálculo de montos por término anticipado, como multas y
          descuentos.
        </p>
      </div>
    </div>
  </div>
</Layout>
